.first {
    text-align: center;
    color: white;
    background-color: #373737;
    height: 4%;
    width: 100%;
    margin: 0;
    padding-top: 1%;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.block_chart {
    height: 100%;
    width: 87%;
    background-color: #373737;
    color: white;
    margin-top: 1%;
    float: right;
    overflow: hidden;
    padding-bottom: 1%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.chart {
    height: 5%;
    width: 100%;
    padding-bottom: 1%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.container {
    background: #373737;
    display: flex;
    justify-content: space-around;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 0.5%;
    gap: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.container1 {
    background: #373737;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-left: 5.5%;
    padding-right: 0.5%;
    gap: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.container2 {
    background: #373737;
    display: flex;
    justify-content: space-between;
    padding-left: 5.5%;
    padding-right: 3.5%;
    gap: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    align-items: center;
}
.container3 {
    background: #373737;
    display: flex;
    justify-content:space-around;
    padding-left: 5.5%;
    padding-right: 3.5%;
    gap: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    align-items: center;
}
.Iframename {
    text-shadow: 1px 2px 4px #ddd;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#datepicker {
    width: 266px;
    display: inline-block;
    padding: 5px;
    background-color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.contain {
    text-align: center;
    color: white;
    background-color: #373737;
    min-height: 100%;
    width: 13%;
    margin: 0;
    padding-top: 19%;
    float: left;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}