.sidenav {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav1 {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  overflow-x: hidden;
  
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}
body::-webkit-scrollbar { display: none; }

#slide-window
{
position:fixed;
width:10%;
height:10%;
overflow:hidden;
top:0px;
left:0px;
}

#slides
{
height:10%;  
position:absolute;
margin:0px;
padding:0px;

-webkit-transform: translate3d(0px,0px,0px);
transform: translate3d(0px,0px,0px);
  
transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 

}

.slide 
{
list-style:none;
position: relative;
float: left;
margin: 0;
padding: 0;
width: 5%;
height: 10%;
background: #ccc;
text-align: center;
line-height: 300px; 
background-size: cover; 
background-position:50% 50%;
color:#fff;

visibility:hidden;

}

.alive { visibility:visible; }

.nav 
{ 
position:fixed; 
z-index:1; 
top:50%; 

cursor:pointer; 
color:#fff; 
opacity:0.7; 
transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
}

.nav:hover { opacity:1.0; }
#left { left:3%; 
  width: 5%;
height: 10%;}
#right { right:3%;   width: 5%;
height: 10%;}



#credit 
{ 
position:fixed; 
top:25px; 
left:25px; 
color:#eaeaea; 
font-family: 'Courier New', Courier, monospace;  
}