
.first {
    text-align: center;
    color: white;
    background-color: #373737;
    height: 3%;
    width: 100%;
    margin:0; 
    padding: 0; 
    overflow: hidden;
}
.block_chart{
    height:5%;
    width:100%;
    background-color: #373737;
    color: white;
    margin:0; 
    padding: 0; 
    overflow: hidden;
}
.chart{
    height:5%;
    width:100%;
    padding-bottom: 1%;
}
.container {
    display: flex;
    justify-content: flex-start;
    padding-top:0.5%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 0.5%;
    gap: 20px;
  }
.Iframename{
    font-size:larger;
}
#datepicker {
    width: 266px;
    display: inline-block;
    padding: 5px;
}
#seven-seg-style {
    width: 100px;
    height: 20px;
}

#seven-seg-style1 {
    width: 100px;
    height: 20px;
}